@model BloodBank_Management_System.Models.BloodRecipient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BloodRecipient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Donor.DonorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donor.DonorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecipientId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
